body {
  background-color: rgb(214, 216, 216);
}

h1 {
  font-size: 3em;
  color: rgb(185, 128, 220);
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
 

p {
  font-family: Helvetica;
  font-size: 20px;
}

